@use './colors';

body {
  margin: 0;
  font-family: colors.$font-sans;
  background-color: colors.$color-bg-default;
  color: colors.$color-text-default;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: colors.$color-primary;
  margin-bottom: 0.5em;
}

button {
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}
