@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import './colors';

body {
  margin: 0;
  font-family: $font-sans;
  background-color: $color-bg-default;
  color: $color-text-default;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: $color-primary;
  margin-bottom: 0.5em;
}

button {
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}
